@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  background: white;
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  color: #495567;
}

.btn {
  background: #FCB72B;
  color: white;
  padding: 14px 39px;
  font-weight: 700;
  font-size: .9375rem;
  font-family: "Space Mono";
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  min-width: 180px;
}

.btn:hover {
  border: 3px solid #FCB72B;
  color: #FCB72B;
  background: white;
}

#navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .navbar__logo {
  margin-top: 34px;
  margin-bottom: 33.44px;
  margin-right: 42.18px;
  width: 107.82px;
  height: 28.56px;
}

#navbar .container .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .navbar__list-item {
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 19px;
}

#navbar .container .navbar__list-item a {
  color: inherit;
}

#navbar .container .btn {
  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 21px;
}

.hero {
  background: url(../images/Bitmap.jpg);
  height: 650px;
}

h1 {
  font-size: 3.5rem;
  color: white;
  max-width: 500px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -2.5px;
  padding-top: 153px;
  padding-bottom: 40px;
}

h1 + p {
  color: white;
  width: 405px;
  position: relative;
  margin-left: 91px;
  margin-bottom: 40px;
  line-height: 25px;
}

h1 + p::before {
  content: "";
  width: 202.5px !important;
  border: 15px solid #FCB72B;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 57px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.card {
  margin-top: 184px;
}

.card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .item-1 {
  margin-left: 0;
}

.card .item-2 {
  margin-right: 0;
}

.card__item {
  width: 33.333%;
  margin: 0 15px;
}

.card__item-icon {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCB72B;
}

.card__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 27px;
  margin-top: 40px;
}
/*# sourceMappingURL=main.css.map */