@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  background: white;
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  color: #495567;
}

.btn {
  background: #FCB72B;
  color: white;
  padding: 14px 39px;
  font-weight: 700;
  font-size: .9375rem;
  font-family: "Space Mono";
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  min-width: 180px;
  margin-top: 40px;
}

.btn:hover {
  border: 3px solid #FCB72B;
  color: #FCB72B;
  background: transparent;
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top {
  width: 100%;
  height: 300px;
  background: #495567;
}

.footer-top__title {
  color: white;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  margin-top: 102px;
  width: 415px;
}

.footer-top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 122px !important;
}

.footer-top__links-text {
  background: #E5ECF4;
  padding: 0 15px 9px 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 159px;
}

.footer-top__links-text p {
  font-size: 0.625rem;
  font-family: "Space Mono";
  padding-top: 8px;
}

.footer-top__links-text a {
  font-size: 1.25rem;
  color: #495567;
  font-family: "Space Mono";
  display: inline-block;
}

.footer-top__links-text .footer-top__icon {
  width: 24.27px;
  height: 28px;
  margin: 14px;
  margin-right: 11.73px;
}

.link-apple {
  margin-right: 18px;
}

footer {
  margin-top: 1678px;
}

.footer-bottom {
  background: #333A44;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-top: 34px;
  margin-bottom: 33.44px;
  margin-right: 42.18px;
  width: 107.82px;
  height: 28.56px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-item {
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 19px;
}

.footer__list-item a {
  color: inherit;
}

.footer__list-item:hover, .footer__list-item :active {
  color: #FCB72B;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto !important;
}

.social-links__item {
  padding: 12px;
}

.social-links__item path {
  fill: #FCB72B;
}

.social-links__item:hover path {
  fill: #E5ECF4;
}

#navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .navbar__logo {
  margin-top: 34px;
  margin-bottom: 33.44px;
  margin-right: 42.18px;
  width: 107.82px;
  height: 28.56px;
}

#navbar .container .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .container .navbar__list-item {
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 19px;
}

#navbar .container .navbar__list-item a {
  color: inherit;
}

#navbar .container .navbar__list-item:hover, #navbar .container .navbar__list-item :active {
  color: #FCB72B;
}

#navbar .container .btn {
  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 21px;
}

#header {
  background: url(../images/Bitmap.jpg);
  height: 650px;
  background-size: cover;
  position: relative;
}

#header h1 {
  font-size: 3.5rem;
  color: white;
  max-width: 500px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -2.5px;
  padding-top: 153px;
  padding-bottom: 40px;
}

#header .hero-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header .hero-arrows p {
  color: white;
  max-width: 405px;
  position: relative;
  line-height: 25px;
  margin-left: 51px;
  font-size: 0.9375rem;
  margin-right: 40px;
}

#header .hero-arrows :nth-child(1) {
  position: absolute;
  right: 100%;
  margin-top: 50px;
}

#header .hero-arrows :nth-child(3) {
  margin-top: 50px;
}

#header .hero-arrows :last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 115px;
  right: 130px;
}

#header h1 ~ .btn {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 573px;
  }
}

.card {
  margin-top: 184px;
  position: relative;
}

.card::before {
  content: " ";
  max-width: 974px;
  height: 15px;
  background-color: #E5ECF4;
  display: inline-block;
  position: absolute;
  top: 46px;
}

.card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__item {
  width: 33.333%;
  margin: 0 15px;
}

.card__item-icon {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FCB72B;
  position: relative;
  z-index: 50;
}

.card .card__item-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 27px;
  margin-top: 40px;
}

.card .item-1 {
  margin-left: 0;
}

.card .item-2 {
  margin-right: 0;
}

.card2 {
  height: 445px;
}

.card2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card2 .container .card2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

.card2 .container .card2-item:nth-child(odd) > .card2__text {
  -webkit-box-ordinal-group: 31;
      -ms-flex-order: 30;
          order: 30;
}

.card2 .container .card2-item:nth-child(odd) > .card2__img {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.card2 .container .card2-item .card2__text {
  width: 445px;
}

.card2 .container .card2__text-title {
  font-size: 3rem;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.card2 .container .card2__text-title + p {
  margin-top: 24px;
}

.card2 .container .card2__img {
  overflow: hidden;
  max-width: 445px;
  max-height: 445px;
  border-radius: 1000px;
}
/*# sourceMappingURL=main.css.map */