@charset "utf-8";
@import "./variables";
@import "./normalize";
@import "./fonts";
@import "./general";
@import "./all_blocks/all-blocks";
@import "./media.scss"

.card {
    margin-top: 184px;
    position: relative;
    &::before {
        content: " ";
        max-width: 974px;
        height: 15px;
        background-color: $color-whiter;
        display: inline-block;
        position: absolute;
        top: 46px;
    }
    & .container {
        display: flex;
    }
    &__item {
        width: 33.333%;
        margin: 0 15px;
        &-icon {
        @include circle(96px, 96px, 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-yellow;
        position: relative;
        z-index: 50;
    }
}
    & .card__item-title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 27px;
        margin-top: 40px;
    }
    & .item-1 {
            margin-left: 0;
    }
    & .item-2 {
            margin-right: 0;
    }

    }
    // Card2

.card2 {
height: 445px;
    & .container{
    display: flex;
    flex-direction: column;
        & .card2-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 200px;
            &:nth-child(odd) > .card2__text {
            order: 30;
            }
            &:nth-child(odd) > .card2__img {
            order: 3;
            }
            & .card2__text {
            width: 445px;
            }
        }
        .card2__text-title {
        font-size: 3rem;
        line-height: 48px;
        letter-spacing: -2.14px;
            +p {
            margin-top: 24px;
            }
        }
        .card2__img {
        overflow: hidden;
        max-width: 445px;
        max-height: 445px;
        border-radius: 1000px;
    }
    }
}

 


  
