// Navbar
#navbar .container{
    display: flex;
    align-items: center;
    .navbar__logo {
        margin-top: 34px;
        margin-bottom: 33.44px;
        margin-right: 42.18px;
        width: 107.82px;
        height: 28.56px;
    }
    .navbar__list {
        display: flex;
        align-items: center;
        &-item {
            padding: 16px;
            margin-top: 20px;
            margin-bottom: 19px;
            & a {
                color: inherit; 
            }
        }
    }
    & .btn {
        margin-left: auto;
        margin-top: 22px;
        margin-bottom: 21px;
    }
}


.hero {
    background: url(../images/Bitmap.jpg);
    height: 650px;

}


h1 {
    font-size: 3.5rem;
    color: white;
    max-width: 500px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -2.5px;
    padding-top: 153px;
    padding-bottom: 40px;
    &+p {
        color: white;
        width: 405px;
        position: relative;
        margin-left: 91px;
        margin-bottom: 40px;
        line-height: 25px;
        &::before {
            content: "";
            width: 202.5px !important;
            border: 15px solid $color-yellow;
            position: absolute;
            right: 100%;
            top: 50%;
            margin-right: 57px;
        }
    }
}





