// Navbar
#navbar .section{
    display: flex;
    align-items: center;
    
    .navbar__logo {
        margin-top: 34px;
        margin-bottom: 33.44px;
        margin-right: 42.18px;
        width: 107.82px;
        height: 28.56px;
    }
    .navbar__list {
        display: flex;
        align-items: center;
        &-item {
            padding: 16px;
            margin-top: 20px;
            margin-bottom: 19px;
            & a {
                color: inherit; 
            }
            &:hover, :active {
                color: $color-yellow;
            }
        }
    }
    .navbar__menu {
        display: none;
    }
    & .btn {
        margin-left: auto;
        margin-top: 22px;
        margin-bottom: 21px;
    }
}



// Header
#header {
    background: url(../images/Bitmap.jpg);
    height: 650px;
    background-size: cover;
    position: relative;
    h1 {
        font-size: 3.5rem;
        color: white;
        max-width: 500px;
        line-height: 56px;
        font-weight: 700;
        letter-spacing: -2.5px;
        padding-top: 153px;
        padding-bottom: 40px;
        
    }
    .hero-arrows {
        display: flex;
        position: relative;
        p {
            color: white;
            max-width: 405px ;
            position: relative;
            line-height: 25px;
            margin-left: 51px;
            font-size: 0.9375rem;
            margin-right: 40px;    
        }
        :nth-child(1) {
            position: absolute;
            right: 100%;
            margin-top: 50px;
        }
        :nth-child(3) {
            margin-top: 50px;
            max-width: 447px;
            // transform: rotate(180deg);
        }
    }
}

#header h1~ .btn {
        margin-top: 0;
    }

    










